*.iml
.gradle
/local.properties
/.idea/jarRepositories.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/.idea/
/.idea
\.idea
\.idea\
build
/node_modules

app/src/main/java/gr/pchasapis/moviedb/common/Definitions.kt
